
<div class="container">

  <div class="col-md-4">

<div class="panel panel-default">
  <div class="panel-heading"> <h2><b>Project:</b> <%=@project.name%></h2></div>
          <div>

                </br>
                </br>
                <p class="lead"> <%= @project.description%> </p>
                <%= link_to static_maintanance_path do%>
                <button data-toggle="tooltip" title="Edit information about project." class="btn btn-success btn-lg btn-block"> Edit </button>
                <% end %>
              </br>
              </br>

                <%= link_to( controller: "tester", action: "test", id: @project.id) do %>
              <button data-toggle="tooltip" title="Start to test for <%= @project.name%>" type="button" class="btn btn-warning btn-lg btn-block"> <span class="glyphicon glyphicon-play"></span> </button>
                          <% end %>
                        </br>
                        </br>

          </div>
  </div>

</div>


  <div class="col-md-8">


<div class="panel panel-default">
    <div class="panel-heading"> <h2><b>Pinout for project:</b> <%=@project.name%></h2></div>
    <div class="panel-body">
  <div>
  <table class="table table-condensed">


    <tr class="info">
      <th>DUT site:</th>
      <th></th>
      <th></th>
      <th>Setup site:</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
      <tr class="info">
        <th>pin no.:</th>
        <th>pin name:</th>
        <th>description:</th>
        <th>pin no.:</th>
        <th>name:</th>
        <th>description:</th>
        <th>edit:</th>
      </tr>



      <% @pinout.each do |pinout| %>

    <% if pinout.project_id == @project.id %>
        <tr>
          <td><%= pinout.pin_dut %></td>
          <td><%= pinout.pin_dut_name %></td>
          <td><%= pinout.pin_dut_description %></td>
          <td><%= pinout.pin_setup %></td>
          <td><%= pinout.pin_setup_name %></td>
          <td><%= pinout.pin_setup_description %></td>
          <td><%= link_to edit_pinout_path(pinout) do%>
              <button class="btn btn-info " data-toggle="tooltip" title="Edit pin">
                  <span class="fa fa fa-cogs"></span>
              </button>
          <% end %> </td>
      <% end %>
<% end %>
  </table>

  </div>
  <div class="">
    <%= will_paginate @pinout, renderer: BootstrapPagination::Rails %>
  </div>


</div>
</div>
</div>
</div>
